<div class="row">
    <div class="banner1 col s11">
        <h1>News</h1>
    </div>
</div>
{% if(news|length > 0) %}
    {{ include ("FestizoomAppBundle:news:ajax/newsContainer.html.twig") }}
{% else %}
    <div class="col s12">
        <p class="center-align">Aucune nouvelles.</p>
    </div>
{% endif %}