{# src/Festizoom/AppBundle/Resources/views/base/footer.html.twig #}

<footer class="page-footer white">
        <div class="row">
                <div class="copyright col s12">
                    <p class="center-align">© 2017 Festizoom</p>
                </div>
        </div>
</footer>